*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login
{
    z-index: 6;
    /* border: 2px solid red; */
    width: 28%;
    height: auto;
    position: absolute;
    top: 35%;
    left: 36%;
    overflow: hidden;
    background: rgb(7, 6, 6);
    padding: 1%;
    border-radius: 10px;
    display: none;
}
.login h2{
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    color: white;
    margin-top: 2%;
}
.login h2 button
{
    /* display: none; */
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20%;
    right: 5%;
    outline: none;
    border: none;
    text-decoration: none;
   background:rgb(7, 6, 6) ;
}
.login h2 button .one{
    background: rgb(172, 170, 170);
    margin-left: 12px;
    height: 100%;
    width: 2px;
    transform: rotate(45deg);
    z-index: 1;
}
.login h2 button .two
{
    background: rgb(172, 170, 170);
    height: 100%;
    width: 2px;
    transform: rotate(90deg);
    z-index: 2;
}
.login p
{
    text-align: center;
    color: white;
    margin-bottom: 10px;
}
.login p a{
    text-decoration: none;
    color: rgb(168, 168, 168);
}
.login form
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.login form input
{
    width: 90%;
    padding: 2.5% 2%;
    margin-bottom: 3%;
    height: 30px;
    border-radius: 4.5px;
    border: 2px solid rgb(197, 196, 196);
    outline: none;
}
.login form button
{
    padding: 2.7%;
    border-radius: 4px;
    outline: none;
    border: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background:#990011FF ;
    color: #FCF6F5FF;
}
.login .error{
    text-align: center;
    color: red;
}
.overlay{
    z-index: 5;
    display: none;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
@media screen and (max-width: 768px) {
    .login
    {
        width: 65%;
        left: 20%;
    }
    .login form input
    {
        width: 95%;
        
    }
}
#close 
{
    display: none;
}

#close:checked ~ .login,
#close:checked ~ .overlay
{
    display: block;
}
.login h2 button:hover .two, 
.login h2 button:hover .one
{
    background:  rgb(236, 234, 234);
}
.login p a:hover
{
    color:rgb(236, 234, 234) ;
}